%h1
  About
%p
  The WikiExplore App is a hobby project to experiment with different ways of discovering one environment based combining two or more resources.

%p
  Technical Stack
  %ul
    %li 
      %a{:href=>"https://www.wikipedia.org/", :target=>"_new"}
        Wikipedia
      Material provided by under a Creative Commons Attribution-Share-Alike License 3.0 or or GNU Free Documentation License.
    %li
      %a{:href=>"OpenStreetMap", :target=>"_new"}
        www.openstreetmap.org
    %li
      %a{:href=>"http://openlayers.org/", :target=>"_new"}
        openlayers.org
    %li
      %a{:href=>"https://www.mediawiki.org/wiki/Extension:GeoData/", :target=>"_new"}
        WikiMedia API

    %li
      %a{:href=>"http://rubyonrails.org/", :target=>"_new"}
        Ruby on Rails
    %li 
      %a{:href=>"http://haml.info/docs/yardoc/file.REFERENCE.html/", :target=>"_new"}
        HAML
