%h1
  About
%p
  The WikiExplore App is a hobby project to experiment with different ways of discovering one environment based combining two or more resources.

%p
  Technical Stack
  %ul
    %li openlayers.org
    %li OpenStreetMap
    %li WikiMedia API
    %li Ruby on Rails
    %li HAML
