%h1
  Help
%h3
  Quickstart
%ol
  %li
    Click on center or center the map on a place where you want to start exploring.
  %li 
    Click on "Let's explore" and choose one of the offered options for each place.
  %li
    Keep getting more refined choices as you keep ranking places.

%h3
  Troubleshooting
%p
  Do you have any trouble, tips for improvement? That is unfortunate. Just shoot me an email to 
  %a{:href=>"mailto:mjhoffmann@gmail.com"}
    mjhoffmann@gmail.com
  \.
