%h1
  Help
%h3
  Quick Start
%ol
  %li
    Enter a name of a city or town or click on center to chose where you want to start exploring.
  %li
    Click on any of the blue links on the map which you find
    %em
      interesting
    \.
  %li
    If you like the type of places click on "More like that", otherwise "Don't care".
  %li 
    Click on "Make an educated guess ..." and choose one of the offered options for each place.
  %li
    Keep getting more refined choices as you keep picking places. 

  %li
    Try to repeat exploring in a different city. Do you like the recommendations?

%p
  Got it? Go back to 
  %a{:href=>"/"} starting page
  and try it out.

%h3
  Troubleshooting
%p
  Do you have any trouble, tips for improvement? That is unfortunate. Just shoot me an email to 
  %a{:href=>"mailto:mjhoffmann@gmail.com"}
    mjhoffmann@gmail.com
  \.

%p
  There is place which you cannot find info for? Easy solution: create a Wikipedia article
  for that place following their
  %a{:href=>"https://en.wikipedia.org/wiki/Wikipedia:Article_inclusion"}
    Guidelines for Inclusion
  and add coordinates to the article.
