%form{:id=>"lookup_form",:style=>"display:inline"}
  .input-group
    %input.form-control{:type=>"text", :name=>"query", :placeholder=>"Go to places"} 
    .input-group-btn
      %button.btn.btn-default.btn-md#center-home{:type=>"button"}
        %span.glyphicon.glyphicon-record
          Center

.div{:style=>"height:10px"}

#map.map

.div{:style=>"height:10px"}

.input_group
  .input-group-btn
    %button.btn.btn-default.btn-md.btn-primary{:type=>"button"}
      %span.glyphicon.glyphicon-road
        Let's explore
