%form{:id=>"lookup_form",:style=>"display:inline"}
  .input-group
    .input-group-btn
      %button.btn.btn-default.btn-md.btn-primary{:type=>"button", :"data-toggle"=>"modal", :"data-target"=>"#target_suggestion"}
        %span.glyphicon.glyphicon-road
        Make an educated guess ...
    %input.form-control{:type=>"text", :name=>"query", :placeholder=>"Go to places"} 
    .input-group-btn
      %button.btn.btn-default.btn-md#center-home{:type=>"button"}
        %span.glyphicon.glyphicon-record
        Center

.div{:style=>"height:10px"}

#map.map

.div{:style=>"height:10px"}

.input-group
  %button.btn.btn-default.btn-md#reset_suggestions{:type=>"button"}
    %span.glyphicon.glyphicon-remove-sign
    Reset suggestions

.modal.fullscreen.fade#target_suggestion{:tabindex=>"-1",:role=>"dialog",:"aria-labelledby"=>"target_suggestion_label"}
  .modal-dialog.fullscreen{:role=>"document"}
    .modal-content.fullscreen
      .modal-header
        %button{:type=>"button",:class=>"close",:"data-dismiss"=>"modal",:"aria-label"=>"Close"}
          &times;
        %h4
          %span#modal_body_top
            .input-group
              .input-group-btn
                %button.velocity#walk.btn.btn-default.btn-md{:type=>"button", }
                  %i.material-icons
                    directions_walk
                  Walk
                %button.velocity#bike.btn.btn-default.btn-md{:type=>"button", }
                  %i.material-icons
                    directions_bike
                  Bike
                %button.velocity#drive.btn.btn-default.btn-md{:type=>"button", }
                  %i.material-icons
                    directions_car
                  Drive

      .modal-body

        %p
          Looking for target ...

      .modal-footer
        .input-group
          .input-group-btn.vote_buttons
            %button#dontcare.btn.btn-default.btn-md{:type=>"button", }
              %span.glyphicon.glyphicon-thumbs-down
              Don't care.
            %button#morelikethat.btn.btn-default.btn-md{:type=>"button", }
              %span.glyphicon.glyphicon-thumbs-up
              More like that.
            %button#like.btn.btn-default.btn-md{:type=>"button", }
              %span.glyphicon.glyphicon-arrow-down
              Full info.
            %button#go.btn.btn-default.btn-md.btn-primary{:type=>"button", }
              %span.glyphicon.glyphicon-map-marker
              Directions.
