%footer.footer
  %small
    The
    %a(href="wikiexplore.herokuapps.com") WikiExplore App
    by
    %a(href="http://mhoffman.github.io/") Max Hoffmann
  %nav
    %ul
      %li= link_to "About", about_path
